.resume-page{
    max-width:1100px;
    margin:auto;
    padding:50px 20px;
}

.resume-header{
    text-align:center;
    margin-bottom:40px;
}

.resume-header h1{
    font-size:42px;
    margin-bottom:15px;
    color:#1e293b;
}

.resume-header p{
    color:#64748b;
    font-size:18px;
    line-height:1.8;
}

.upload-card{
    background:#fff;
    padding:40px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    text-align:center;
}

.upload-card input{
    margin:20px 0;
}

.upload-card button{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.upload-card button:hover{
    background:#1d4ed8;
}

.score-card{
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    text-align:center;
}

.score-circle{
    width:180px;
    height:180px;
    margin:25px auto;
    border-radius:50%;
    border:12px solid #2563eb;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:34px;
    font-weight:bold;
    color:#2563eb;
}

.loader{
    text-align:center;
    margin-top:40px;
}

.spinner{
    width:50px;
    height:50px;
    border:6px solid #ddd;
    border-top:6px solid #2563eb;
    border-radius:50%;
    animation:spin .8s linear infinite;
    margin:auto;
}

@keyframes spin{

    to{
        transform:rotate(360deg);
    }

}